@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .font-d1 {
    @apply text-[88px] font-bold leading-[96px] tracking-[-2.2px];
  }
  .font-d2 {
    @apply text-[72px] font-bold leading-[80px] tracking-[-1.8px];
  }
  .font-d3 {
    @apply text-[56px] font-bold leading-[64px] tracking-[-1.4px];
  }
  .font-d3-nobold {
    @apply text-[56px] leading-[64px] tracking-[-1.4px];
  }
  .font-h5 {
    @apply text-xl font-bold leading-7 tracking-[-.2px];
  }

  .font-p2 {
    @apply text-base font-normal leading-6 tracking-[.16px];
  }
  .font-p3 {
    @apply text-sm font-normal leading-6 tracking-[.14px];
  }

  .button-normal {
    @apply bg-white uppercase text-dark rounded-md hover:brightness-90 transition-all flex items-center justify-center h-12;
  }
}
